@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/**
* General style.
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    font-family: 'Indie Flower', cursive;
}

/* Design header */
header {
    text-align: center;
    background-color: crimson;
    height: 15vh;
}

header h1, header h2 {
    padding: 2rem;
    color: white;
}

h3 {
    color: crimson;
    margin: 1rem;
    font-weight: bold;
    font-size: 15px;
}

/* Design menu */
.menu {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    margin: 2rem;
    padding: 2rem;
}

nav i {
    font-size: 5rem;
    color: crimson;
    text-decoration-line: none;
    margin-left: 1rem;
}

nav a {
    text-decoration-line: none;
    color: crimson;
    font-size: 15px;
}

aside {
    text-align: center;
    font-size: 10px;
}

aside li {
    list-style-type: none;
    font-size: 15px;
}


#titleTable {
    margin-top: 2rem;
}

/* Design table */
table {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}

table th {
    border: 3px solid crimson;
    padding: 1rem;
}
.rotateImg {
    animation-duration: 20s;
    animation-delay: 1ms;
    animation-iteration-count: infinite;
    animation-name: moveImg;
}

@keyframes  moveImg {
    to {
        transform: rotate(0deg)
    }
    50% {
        transform: rotateY(90deg)
    }
    to {
        transform: rotateX(360deg)
    }
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

form {
    display: none;
}

#experience {
    text-align: center;
    margin-top: 3rem;
    font-size: 15px;
}

/* Design arrow contact */
.contact div {
    color: crimson;
    font-size: 3rem;
    letter-spacing: .2rem;
    padding: 1.5rem;
}

fieldset {
    background-color: #cf0a1d;
    width: 100%;
    height: 8vh;
    text-align: center;
    color: white;
    font-size: 15px;
}

form input, button {
    margin: 0.5rem;
    text-align: center;
}

button {
    color: white;
    background-color: transparent;
    border: 3px solid white;
    text-align: center;
    padding: 0.3rem;
}

#resultDancingColor {
    border: 2px solid black;
    background-color: white;
    font-size: 5rem;
}
/*
footer {
    background-color: crimson;
    font-size: 20px;
} */

/* Responsive mode */
@media screen and (max-width: 2000px) {
    header h2 {
        padding: 1rem;
    }
    fieldset {
        height: 12vh;
    }
    nav i {
        font-size: 3.5rem;
    }
    header {
        height: 17vh;
    }
    aside li, #experience {
        padding: 0.4rem;
    }
}

@media screen and (max-width: 300px){
    fieldset {
        padding: 0.5rem;
    }

    nav i {
         font-size: 3.5rem;
    }

    header {
        height: 17vh;
    }

    img {
        max-width: 179px;
    }
    aside li, #experience,table {
        padding: 0.4rem;
    }

}