/**
* General style.
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
}

/* Design header */
header {
    text-align: center;
    background-color: crimson;
    height: 15vh;
}

header h1, header h2 {
    padding: 2rem;
    color: white;
}

h3 {
    color: crimson;
    margin: 1rem;
    font-weight: bold;
}

/* Design menu */
.menu {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    margin: 2rem;
    padding: 2rem;
}

nav i {
    font-size: 5rem;
    color: crimson;
    text-decoration-line: none;
    margin-left: 1rem;
}

nav a {
    text-decoration-line: none;
    color: crimson;
}

aside {
    text-align: center;
    font-size: 10px;
}

aside li {
    list-style-type: none;
}

#titleTable {
    margin-top: 2rem;
}

/* Design table */
table {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}

table th {
    border: 3px solid crimson;
    padding: 1rem;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

form {
    display: none;
}

#experience {
    text-align: center;
    margin-top: 3rem;
}

/* Design arrow contact */
.contact div {
    color: crimson;
    font-size: 3rem;
    letter-spacing: .2rem;
    padding: 1.5rem;
}

fieldset {
    background-color: #cf0a1d;
    width: 100%;
    text-align: center;
}

form textarea, form input {
    margin: 0.5rem;
}
/*
footer {
    background-color: crimson;
    font-size: 20px;
} */

/* todo responsive mode */
@media screen and (max-width: 0px) {

}